@import url("https://fonts.googleapis.com/css?family=Poppins");

:root {
    --background: #e3f2fd;
    --black: #141414;
    --green: #50c878;
    --black-linear-gradient: linear-gradient(#333, black);
    --active-black-linear-gradient: linear-gradient(to bottom, black, #434343);
    --active-black-box-shadow: -5px 5px 10px rgba(255, 255, 255, 0.1);
    --white-linear-gradient: linear-gradient(#fff 96%, #eee 4%);
    --active-white-linear-gradient: linear-gradient(
        to bottom,
        #fff 0%,
        #eee 100%
    );
    --active-white-box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 10px;
    background-color: var(--background);
}
.piano {
    border-radius: 20px;
    padding: 35px 40px;
    background-color: var(--black);
}
.piano header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h2 {
    font-size: 1.6rem;
}
header div {
    display: flex;
    align-items: center;
    gap: 15px;
}
header div span {
    font-size: 1.2rem;
}
.volume-slider input {
    accent-color: white;
}
.keys-checkbox input {
    position: relative;
    appearance: none;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background-color: gray;
    cursor: pointer;
    transition: 0.3s ease background-color;
}
.keys-checkbox input:checked {
    background-color: var(--green);
}
.keys-checkbox input::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    border-radius: 30px;
    background-color: white;
    transition: 0.3s ease left;
}
.keys-checkbox input:checked::before {
    left: 35px;
}
.piano-keys {
    display: flex;
    margin-top: 40px;
}
.piano-keys .key {
    position: relative;
    cursor: pointer;
    user-select: none;
    list-style: none;
    color: gray;
    text-transform: uppercase;
}
.piano-keys .black {
    width: 44px;
    height: 140px;
    margin: 0 -22px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: var(--black-linear-gradient);
    z-index: 2;
}
.piano-keys .black.active {
    box-shadow: var(--active-black-box-shadow);
    background: var(--active-black-linear-gradient);
}
.piano-keys .white {
    width: 70px;
    height: 230px;
    border-radius: 8px;
    border: 1px solid black;
    background: var(--white-linear-gradient);
}
.piano-keys .white.active {
    box-shadow: var(--active-white-box-shadow);
    background: var(--active-white-linear-gradient);
}
.piano-keys div {
    position: absolute;
    bottom: 35px;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    color: crimson;
}
.piano-keys span {
    position: absolute;
    bottom: 7px;
    width: 100%;
    font-size: 1rem;
    text-align: center;
}
.piano-keys .key.hide span {
    display: none;
}
